<!-- Star image with Star Click Function-->
<img (dblclick)="onStarDBLClicked()"src="https://upload.wikimedia.org/wikipedia/commons/3/34/Red_star.svg"
height="42" width="42">
<!--Break for Formatting-->
<br>
<!--Look at the star text-->
<h4 [hidden]="show">Look at the star!</h4>
<!--Click me Button-->
<button (click)="onButtonClick()">Click Me!</button>
<!--Number of times button has been clicked-->
<h3>The number of times the button has been clicked is : {{count}}</h3>
<br>
<hr>
<app-list></app-list>
